// Colours
//=============================
$c-background-body: #252525;
$c-text-body: #9c9b9b;
$c-accent: #3e3f3c;
$c-offwhite: #efefef;

// Dimensions
//============================
$max-width: 900px;
$space: 15px;
$hspace: $space / 2;
$dspace: $space * 2;

// Type
//============================
$font-size-body: 16px;
$font-size-small: 13px;
$weight-normal: 500;
